<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="zh-CN">
<head th:fragment="commonHead(title)">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
    <link th:href="@{/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/bootstrap/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/bootstrap/bootstrap-validator/css/bootstrapValidator.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/bootstrap/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/bootstrap/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/bootstrap/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/bootstrap/bootstrap-fileinput/fileinput.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/jedate-6.5.0/skin/jedate.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/ztree/css/metroStyle/metroStyle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/treegrid/jquery.treegrid.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/interval.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/jquery-3.1.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/component.js}"></script>
    <script type="text/javascript" th:src="@{/jedate-6.5.0/dist/jedate.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-3.3.7//js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-datepicker-master/dist/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/bootstrap-fileinput/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap-fileinput/zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/treegrid/jquery.treegrid.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/treegrid/jquery.treegrid.bootstrap3.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/treegrid/jquery.treegrid.extension.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/treegrid/tree.table.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/ztree/jquery.ztree.all.min.js}"></script> 
</head>
</html>